.cover__overlay{
    text-decoration: none;
}

.cover__overlay::before{
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #2A2C2F;
    opacity: 0.3;
    transition: opacity 0.5s;
    position: absolute;
    z-index: 1;
}

.cover__overlay:hover::before{
    opacity: 0.8;
}